{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href= "{{url_for('static', filename='home.css')}}">
<h1> Home Page:</h1>  
<h3> Welcome to the home page </h3>
<a href="http://127.0.0.1:5000/Rooms"> Available rooms: {{available_rooms[0][0]}} </a>
<a href="http://127.0.0.1:5000/Guests"> Total guests: {{Guest_now}} </a></br>

<div>
    <a href="{{ url_for('Reservation', order='arrival_date') }}">Due arrivals </a>
    <table>
    
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Arrival date</th>
                <th>Departure date</th>
                <th>Kids</th>
                <th>Adults</th>
            </tr>
        </thead>
        <tbody>
          {% for res in Due_arrivals %}
          <tr>
              <td> {{res[0]}} </td>
              <td> {{res[1]}} </td>
              <td> {{res[2]}} </td>
              <td> {{res[3]}} </td>
              <td> {{res[4]}} </td>
            
         </tr>
          {% endfor %}
    
    </table>
</div>

<div>
    <a href="{{ url_for('Reservation', order='departure_date') }}">Due departures </a>
    <table> 
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Arrival date</th>
                <th>Departure date</th>
                <th>Kids</th>
                <th>Adults</th>
            </tr>
        </thead>
        <tbody>
        {% for res2 in Due_departures %}
        <tr>
            <td> {{res2[0]}} </td>
            <td> {{res2[1]}} </td>
            <td> {{res2[2]}} </td>
            <td> {{res2[3]}} </td>
            <td> {{res2[4]}} </td>
 
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}