<!DOCTYPE html>
<html> 
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='layout.css')}}">
    <meta charset="UTF-8">
    </head>
    <body>
        <div class = "menubar">
            <a href="http://127.0.0.1:5000/">Home</a></br>
            <a href="/guestinfos.html">Guests</a></br>
            <a href="/roomtypes.html">Room types</a></br>
            <a href="/rooms.html">Rooms</a></br>
            <a href="/housekeeping.html">Housekeeping</a></br>
            <a href="/reservations.html">Reservations</a>

        </div>
    {% block body %}
    {% endblock %}
    </body>


</html>
