{% extends "layout.html" %}

{% block body %}
    
    <link rel="stylesheet" href= "{{url_for('static', filename='roomtype_guest.css')}}"> 
    <body>
    <h1> Guest list:</h1>
        <h2 class="normal"> Search </h2> <h3>- enter either guest name, surname or ID</h3>
        <form action = "/foundguest" method = "post">
            
          <label for="userinput"></label>
          <input class ="search_bar" type="text" name = "userinput" placeholder="Search...">
          <input class ="search_button" type="submit" value = "Enter">
        </form>
            {% if no_results %}
                <h3>No results found</h3>
                <p>make sure to check your spelling and what you're searching for exists</p>
            {% endif %}

            {% for guestinfo in gr_list %}
            <div style = "width: 40%;  margin: 1%;">
              <h2>{{ guestinfo[1] }} {{ guestinfo[2] }}</h2>  
              <span> 
                <h4>ID : <p>{{ guestinfo[0] }}</p></h4>
                <h4>Name : <p>{{ guestinfo[1] }}</p></h4>
                <h4>Surname : <p>{{ guestinfo[2] }}</p></h4>
              </span> 
              <span>
                <h4>Email : <p>{{ guestinfo[3] }}</p></h4>
                <h4>Reservation ID : <a href="{{ url_for('foundres', res_id=guestinfo[4])}}"> {{guestinfo[4]}} </a></h4>
              </span>
            </div>
            {% endfor %}
            
        
         
        {% for matches in fgr_list %}
            <div style = "width: 40%;  margin: 1%;">
              <h2>{{ matches[1] }} {{ matches[2] }}</h2>  
              <span> 
                <h4>ID : <p>{{ matches[0] }}</p></h4>
                <h4>Name : <p>{{ matches[1] }}</p></h4>
                <h4>Surname : <p>{{ matches[2] }}</p></h4>
              </span> 
              <span>
                <h4>Email : <p>{{ matches[3] }}</p></h4>
                <h4>Reservation ID : <a href="{{ url_for('foundres', res_id=matches[4])}}"> {{matches[4]}} </a></h4>
              </span>
            </div>
        {% endfor %}
    </body>

{% endblock %}
