{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" href= "{{url_for('static', filename='roomtype_guest.css')}}">
    <h1> Room types:</h1>
    {% for roomtinfos in rtroom_list %}
      <div>
        
        <span>
          
          <h2> {{ roomtinfos[1] }}</h2>
          <h4>ID : <p> {{ roomtinfos[0] }}</p></h4>
          <h4>Description : <p>{{ roomtinfos[2] }}</p></h4>
        </span>
        <span>
          <h4>price per night : <p>${{ roomtinfos[3] }}</p></h4>
          <h4> recommended number of people : <p>{{ roomtinfos[4] }}</p></h4>
          <h4> Total rooms : <p>{{ roomtinfos[5] }}</p></h4>
          <h4>Available rooms : <p>{{ roomtinfos[6] }}</p></h4>
        </span>
      </div>

    {% endfor %}

{% endblock %}
