<!DOCTYPE html>
<html> 
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='layout.css')}}">
    <meta charset="UTF-8">
    </head>
    <body>
        <div class = "menubar">
            <a href="{{ url_for('home') }}">Home</a></br>
            <a href="{{ url_for('guests') }}">Guests</a></br>
            <a href="{{ url_for('room_types') }}">Room types</a></br>
            <a href="http://127.0.0.1:5000/Rooms">Rooms</a></br>
            <a href="http://127.0.0.1:5000/Housekeeping">Housekeeping</a></br>
            <a href="http://127.0.0.1:5000/Reservations">Reservations</a>

        </div>
    {% block body %}
    {% endblock %}
    </body>

</html>