{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href= "{{url_for('static', filename='reservation.css')}}">
<h1> Reservations:</h1>

<a class = "button" href="{{ url_for('Reservation', order='reservation_id') }}"> Sort by ID </a>
<a class = "button" href="{{ url_for('Reservation', order='arrival_date') }}"> Sort by arrival date </a>
<a class = "button" href="{{ url_for('Reservation', order='departure_date') }}"> Sort by departure date </a></br>

      <h2 class="normal"> Search </h2> <h3>- enter reservation ID</h3>
      <form action = "/foundres" method = "post">
        
          <label for="userinput3"></label>
          <input class ="search_bar" type="text" name = "userinput3" placeholder="Search...">
          <input class ="search_button" type="submit" value = "Enter">
      </form>
    {% if no_results3 %}
        <h3>No results found</h3>
        <p>make sure to check your spelling and what you're searching for exists</p>
    

    {% else %}
      <table class = " res_table">
          <thead>
              <tr class = " res_table">
                  <th>Reservation ID</th>
                  <th>Arrival date</th>
                  <th>Departure date</th>
                  <th>Kids</th>
                  <th>Adults</th>
                  <th>total guests</th> 
                  <th></th>

              </tr>
          </thead>
      <tbody>
      {% for rinfo in rinfolist %}
      <tr >
          <td>{{ rinfo[0] }}</td>
          <td>{{ rinfo[1] }}</td>
          <td>{{ rinfo[2] }}</td>
          <td>{{ rinfo[3] }}</td>
          <td>{{ rinfo[4] }}</td>
          <td>{{ rinfo[5] }}</td>
          <td><a href="{{ url_for('Reservation_detail', res_id=rinfo[0], 
                                                                      Arivald=rinfo[1],
                                                                      Departd=rinfo[2],
                                                                      kid_num=rinfo[3],
                                                                      adult_num=rinfo[4],
                                                                      totalg=rinfo[5] )}}">more details</a>
      </tr>

      {% endfor %}
        
    
        {% for matches in foundmatches3 %}
            <tr>
                <td>{{ matches[0] }}</td>
                <td>{{ matches[1] }}</td>
                <td>{{ matches[2] }}</td>
                <td>{{ matches[3] }}</td>
                <td>{{ matches[4] }}</td>
                <td>{{ matches[5] }}</td>
                 <td><a href="{{ url_for('Reservation_detail', res_id=matches[0], 
                                                                      Arivald=matches[1],
                                                                      Departd=matches[2],
                                                                      kid_num=matches[3],
                                                                      adult_num=matches[4],
                                                                      totalg=matches[5] )}}">more details</a>
              
            </tr>
        {% endfor %}
    </tbody>
    </table>
  {% endif %}
    
{% endblock %}