{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href= "{{url_for('static', filename='reservation.css')}}">


<h1> Reservations:</h1>


<a class = "button" href="http://127.0.0.1:5000/Reservations">back</a></br>
    <table>
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Arival date</th>
                <th>Departure date</th>
                <th>Kids</th>
                <th>Adults</th>
                <th>total guests</th>

            </tr>
        </thead>
    <tbody>
    <tr>
        <td>{{ res_id }}</td>
        <td>{{ Arivald }}</td>
        <td>{{ Departd }}</td>
        <td>{{ kid_num }}</td>
        <td>{{ adult_num }}</td>
        <td>{{ totalg }}</td>
        </tr>
    </table>
    
    
    <div>
        <h2> Room(s):</h2></br>
        {% for rdetails in roominfo %}
        <span>
            <h4>Room ID : <p>{{ rdetails[0] }}</p></h4>
            <h4>Room type : <p>{{ rdetails[1] }}</p></h4>
            <h4>Room status : <p>{{ rdetails[2] }}</p></h4>
            <h4>Housekeeping : <p>{{ rdetails[3] }}</p></h4>
        </span>
        {% endfor %}
   </div>
    
    <div>
        
        <h2>Guest(s):</h2></br>
        {% for guests in gname %}
        <span>
            <h4> Guest ID : <p>{{ guests[0] }}</p></h4>
            <h4>Name : <p>{{ guests[1] }}</p></h4>
            <h4>Surname : <p>{{ guests[2] }}</p></h4>
            <h4>Contact : <p>{{ guests[3] }}</p></h4>

        </span>
        {% endfor %}
    
    </div>

{% endblock %}