{% extends "layout.html" %}

{% block body %}

    <h1> Guest list:</h1>
    <h2> Found:</h2>
    <a href="http://127.0.0.1:5000/Guests">search again</a>
    <table> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for matches in foundmatches %}
            <tr>
                <td>{{ matches[0] }}</td>
                <td>{{ matches[1] }}</td>
                <td>{{ matches[2] }}</td>
                <td>{{ matches[3] }}</td>
                <td>{{ matches[4] }}</td>
              
            </tr>
            {% endfor %}

{% endblock %}

