{% extends "layout.html" %}

{% block body %}


<a href="http://127.0.0.1:5000/Reservations">back</a>

<h1> Reservations:</h1>


    <table>
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Arival date</th>
                <th>Departure date</th>
                <th>Kids</th>
                <th>Adults</th>
                <th>total guests</th>

            </tr>
        </thead>
    <tbody>
    <tr>
        <td>{{ res_id }}</td>
        <td>{{ Arivald }}</td>
        <td>{{ Departd }}</td>
        <td>{{ kid_num }}</td>
        <td>{{ adult_num }}</td>
        <td>{{ totalg }}</td>
        </tr>

    </table>
    
    <table>
        <thead>
            <tr>

                <th>Room ID</th>
                <th>Room type</th>
                <th>Status</th>
                <th>Housekeeping</th>


            </tr>
        </thead>
    <tbody>
    {% for rdetails in roominfo %}
    <tr>
        <td>{{ rdetails[0] }}</td>
        <td>{{ rdetails[1] }}</td>
        <td>{{ rdetails[2] }}</td>
        <td>{{ rdetails[3] }}</td>

    </tr>

    {% endfor %}
    </table>



    <table>
        <thead>
            <tr>

                <th>Guest ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Contact</th>


            </tr>
        </thead>
    <tbody>
    {% for guests in gname %}
    <tr>
        <td>{{ guests[0] }}</td>
        <td>{{ guests[1] }}</td>
        <td>{{ guests[2] }}</td>
        <td>{{ guests[3] }}</td>

    </tr>

    {% endfor %}
    </table>


{% endblock %}