
.box{margin-left: 0.1%;
    background: none;
    width: 90%;
    height: auto;
    padding: 0;

    display: flex;
    border:solid;
    border-collapse: collapse;
    
}



div{
    color:rgb(29, 40, 50);
    letter-spacing: 1px;
    font-size: 110%;
    text-underline-offset: 5px;
    background-color: rgba(255, 255, 255, 0.801);
    display: inline-block;
    padding: 20px 3px;
    width: 22.5%;
    height: 20%;
    text-align: center;
    border-right: solid;
    border-width : 1.5px;
    border-color: rgb(158, 158, 158);
    
    line-height: 3%;
}
   
body{margin-top:10%;}


.moreinfo:after {
    content: "room type: " attr(roomtype) " reservation: " attr(reservations);
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    
}

.moreinfo:hover:after {
    display: block;
 
}

.room_block{ display: inline-block;
    border: solid;
    border-top-width :45px;
    width:17%;
    height: 25%;
    color: rgb(0, 0, 0);
    margin: 15px;
}

.color_block { border-left: solid;
               border-width: 50px;
               padding-left: 1%;
 }


.VC_color{border-color: rgb(33, 99, 7);
}
.OC_color{border-color: rgb(143, 7, 36);}
.VD_color{border-color: rgb(255, 210, 63);
}
.OOO_color{border-color: rgb(79, 0, 100);}
.NS_color{border-color: rgb(9, 0, 108);
}


table{background-color: rgb(255, 255, 255);
      width: 55%;
      padding: 0.7%;
      font-size: 110%;
      line-height: 30px;
}
th{ border-bottom: solid;
       border-width: 1px;
}

h4{font-weight: bolder;
    
}

h2, h4{ margin: 13%;
}